.section-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    justify-content: center;
    
  }
  
  .features-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    
  
  .card {
    margin-left: 30px;

    &:first-child {
        margin-left: 0px;
      }

  
  .title {
    margin-bottom: 10px;
    margin-top: 30px;
    color: $titleText-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
  }

  .text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: $primaryText-color;
    
  }}
}
  
  .icon-antena {
    display: block;
    width: 270px;
    height: 120px;
    background:$secondaryBg-color;
    padding: 25px 102px;
    border-radius: 4px;
  }
  
  .icon-clock {
    padding: 0;
    display: block;
    width: 270px;
    height: 120px;
    background: $secondaryBg-color;
    padding: 25px 101px;
    border-radius: 4px;
  }
  
  .icon-diagram {
    display: block;
    width: 270px;
    height: 120px;
    background: $secondaryBg-color;
    padding: 25px 100px;
    border-radius: 4px;
  }
  .icon-astronaut {
    display: block;
    width: 270px;
    height: 120px;
    background: $secondaryBg-color;
    padding: 25px 100px;
    border-radius: 4px;
  }